body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
 
/* Main content */

main {
    max-width: 1200px;
    background-color: white;
    margin: 2rem auto;
    position: relative;
  }
  
  main article {
    box-sizing: border-box;
    max-width: 75%;
    padding: 2rem;
  }
  main img{
      width: 100%; 
  }

  .polaroid {
    width: 60%;
    margin: 1.75rem;
    padding: 1rem 1rem 0 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: width 100ms;
  }

  
.polaroid p {
    margin: 0.5rem 0 0.75rem 0;
    color: #666;
    text-align: center;
    font-size: 0.8rem; 
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
  }