<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/index.html">Home</a>
            </li>
            <li>
                <a href="/view/about.html">About</a>
            </li>
            <li>
                <a href="/view/motivation.html">Motivation</a>
            </li>
            <li>
                <a href="/view/recommendations.html">Recommendations</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        {{content}}
    </div>
</body>
<footer>
    <p>
        For a fascinating, bullet-point-style list of my work, check out my LinkedIn profile
        <a href="https://www.linkedin.com/in/miryamchaabouni/">here</a>.
    </p>
</footer>

</html>