--- 
layout: default 
title: This is Miryam 
---

<h1>A little bit about me</h1>

<article>
    <div class="polaroid right" style="width:30%;">
        <img src="/images/countries.png">
        <p>Made by Michael H. with Google MyMaps</p>
    </div>
    <div>
        <p>
            I was born and grew up in Tunisia, the country at the origin of the Arab Spring, and a pionner in the Muslim
            world in terms of women rights and gender equality. At 18, I moved to Switzerland to study, and for the past two
            years I have been living and working in Munich, Germany.
        </p>
        <p>
            November in Munich is usually the season of the first snow, and the opening of the Christmas markets. It is a wonderful time
            to sip on mulled wine while shopping for holiday-themed home decor or new ski accesories. </p>
        <p>
    </div>

    <div>
        <p>
        It's funny to think that some time ago, I was against the very idea of skiing. Well, just earlier this year, I took my first
        aerial lift, and I was terrified. But soon the terror faded away and let place to an infinite ocean of calm whiteness.
        </p>
        <div class="polaroid left" style="width:100%">
                <img src="/images/val_thorens.JPG">
                <p> Val Thorens, France </p>
            </div>
        
        <p>
            This seems to be a recurring pattern in my life. It begins with rejection, then curiosity wins over. Then I am petrified,
            and I struggle. Ultimately, things get better and I realize that I became a new person, with a new super power.
        </p>
    </div>

    <div class="polaroid right  ">
        <img src="/images/bike_tour.JPG">
        <p>English garden, Munich </p>
    </div>
    <div>
        <p>
            Lately, it seems that the cycles got shorter and shorter. Just this year, I got many new super powers. I tackled my first
            red slope, I started biking to work, and I switched to a new company that I love.</p>
            <p> But I also got a Java certification,
            started using streams, made peace with front-end technologies, and ran a Cypher script in a Docker container
            using Power Shell.
        </p>

        <p>
            With each small victory, I get more confident and excited. Of course, there are many things that still scare me, like the
            amount of books from Martin Fowler which I should have finished in 2002. But I revel knowing I am on a path of
            growth, and I am excited for the new challenges to come.
        </p>
    </div>
</article>