--- 
layout: default 
title: This is Miryam 
---

<h1>A little bit about me</h1>

<article>
    <div class="polaroid right">
        <img src="/images/val_thorens.JPG">
       <p> Val Thorens, France </p>
    </div>
    <p>
        Today was the first day of snow in Munich. Soon we'll all be drinking mulled wine and shopping for ski accessories. It's
        funny to think that some time ago, I was against the very idea of skiing. Well, just earlier this year, I took my
        first aerial lift, and I was terrified. But soon the terror faded away and let place to an infinite ocean
        of calm whiteness.
    </p>

    <p>
        This seems to be a recurring pattern in my life. It begins with rejection, then curiosity wins over. Then I am petrified, 
        and I struggle. Ultimately, things get better and I realize that I became a new person, with a new super power.
    </p>
    <div class="polaroid left">
        <img src="/images/bike_tour.JPG">
        <p>English garden, Munich </p>
    </div>
    <p>
        Lately, it seems that the cycles get shorter and shorter. Just this year, I got many new super powers. I tackled my first
        red slope, I started biking to work, and I switched to a new company that I love. But I also got a Java certification,
        started using streams, made peace with front-end technologies, and ran a Cypher script in a Docker container using
        Power Shell.
    </p>

    <p>
        With each small victory, I get more confident and excited. Of course, there are many things that still scare me, like the
        amount of books from Martin Fowler which I should have finished in 2002. But I revel knowing I am on a path
        of growth, and I am excited for the new challenges to come.
    </p>
</article>