--- 
layout: default 
title: This is Miryam 
---

<h1>A little bit about me</h1>

<article>
    <p>
    My name is Miryam, I come from Tunisia, and I <!--am king of the hill, a number one!!!!--> work as a Junior developer for a startup
    in Munich, Germany. I have been writing code passionately since 2006, and professionally since 2016.
</p>

<!--curious and positive-->
<p>
    Since I was a kid, I was always curious to understand how things worked. I thought studying physics would give me the universal
    answer, but unfortunately it didn't. On the flipside, I discovered a slightly simpler universe to grasp, that of computers.
</p>

<!---neverending learner-->
<p>
    At the end of my studies, I became fully committed to becoming a software developer, and all the learning and studying turned
    from a chore to a pleasure. When I graduated, I thought naively that the education phase was done. But
    reality quickly caught up with me, and I realized that being a developer meant never-ending learning.
</p>

<div class="polaroid">
    <img src="/images/graduation_2016.jpeg" />
    <p>The joy of ignorance</p>
</div>

<!--- love a challenge-->

    <p>Fortunately, we live in a time where information is only a few key strokes away. I am also surrounded by an amazing team
        of experienced developers, which are kind enough to share their knowledge with me. I even sometimes give myself a
        little challenge, for instance by taking certification exams, or going to workshops on topics which I find a bit
        scary.
    </p>
    <p> But this infinite amount of information can sometimes be confusing, and a little discouraging. By attending numerous
        conferences and Meetups on software, I gathered a decent amount of knowledge on topics which fascinated me,
        and I isolated those which would be more pertinent for my day to day work.
    </p>

<p>
    Attending the Software Architecture Conference would be a very valuable experience to me, and I hopefully I could share the
    knwolege I would gather there with my colleagues.
</p>

</article>