---
layout: default
title: Miryam Chaabouni, soon in New York 
---

<h1>The year 2018 in Meetups </h1>
<p> Another fact about me: I love going to Meetups and conferences, especially around software technologies and methodologies.
    My favorites of this year were:
    <ul>
        <li>
            <a href="https://www.thoughtworks.com/martin-fowler-in-germany">Martin Fowler in Germany </a>
            on November 27th at ThoughtWorks-Office in Munich</li>

        <li>Neo4j European GraphDay, on November 20th in Munich</li>
        <li>
            <a href="https://www.meetup.com/Fintech-GeekOut-Munich/events/255025387/">The Incredible Journey of the API </a>
            on November 13th by Wirecard </li>
        <li>
            <a href="https://www.thoughtworks.com/xconf-eu-2018">XConf EU 2018 </a>
            on June 28th by ThoughtWorks
        </li>

        <li>
            <a href="https://www.womentechmakers.com/iwd18/munich-18.">Women Techmakers IWD 2018 Summit Munich</a>
            March 27th, at Google
        </li>

        <li>Tech meets HR - Fireside Chat mit Stack Overflow CEO, Joel Spolsky, on January 23rd in Munich </li>
    </ul>
</p>
<p>
    Each of these events allowed me to meet inspiring people, learn from their experiences, and guided me through my journey
    to become a better developer.
    My hope is to be one day on the other side of the stand and share my own experiences with others.
</p>
<p>
    Meanwhile, I really hope to attend the Software Architecture Conference in New York in 2019. 
    I know for a fact that I would learn from the best, and be even more inspired. 
    But most importantly, I could brag about it my entire life, and make my friends and colleagues extremely jealous. 
</p>
