--- 
layout: default 
title: Miryam at the conference 
---

<h1>Why should I go to this conference? </h1>
<p>
  The O'Reilly Software Architecture Conference brings together world experts in 
  the field of software, and I am very excited about the program of 2019. 
  Many guests belongs to companies who set up the foundations of modern software practices, 
  while also fighting for diversity and social justice. 
</p>

<p>
    I consider conferences and Meetups as an integral part of my continuous education. 
    This year, I had the chance to hear prominent speakers from Google and ThoughtWorks as well 
  as local Startup founders and female tech leaders. 
  Each event allowed me to meet inspiring people, learn from their experiences, 
  and helped guide me through my journey to become a better developer. 
</p>

<p>
  Although being part of a minority sometimes felt obvious, 
  I never failed to ask questions, exchange information or get up stage 
  if I was given the chance to. 
  To me each event is an opportunity to engage with people from my field, 
  but also to push my own boundaries. 
</p>

<p>
  I believe that knwolege is our ultimate weapon against discrimination, 
  which is why I am continuously striving to expand my own. 
  My hope is to be one day on the other side of the stand and share my own experiences with others. 
</p>
 
<!--
<p>
  If I can make it there, I'm gonna make it... anywhere!!! It's up to you.. New Yoork! Neeeewww Yooooooooorrrkk!!
</p>
-->
