--- 
layout: default 
title: Networking and me 
---
<h1>Why should I attend this conference? </h1>
<article>

  <p>
    I remember my first professional gatherings. I wore a suit and carried a bunch of resumes. I felt awkward and out of
    place.
  </p>
  <div class="polaroid center">
      <img src="/images/ftl_google.png" />
      <p>Courtesy of Female Tech Leaders (TODO)</p>
    </div>
  <p>
    Now networking events have become almost a hobby. I smile, extend my hand and introduce myself. I ask questions - smart or
    not - and volunteer to get up stage if requested. I exchange contact details, congratulate the organizers, then go home, 
    my head buzzing with ideas.
  </p>
  <p>
    However, even when mastering the social conventions, the technical concepts and the local language, it still happens 
    to stand out, because of the way one looks, dresses or talks. I usually don't mind, because the reason I attend is to learn
    and exchange. But I admit that the gatherings that I enjoyed the most were those with a diverse audience. 
  </p>
  <p>
    The O'Reilly Software Architecture Conference brings together world experts in the field of software. Many guests belong
    to companies who not only set up the foundations of modern software practices, but also deeply care about their social
    impact. By making their knowledge accessible to every class of society all around the world, they are breaking
    down the barriers which separate minorities from success.
  </p>
  <p>
    By attending this conference, I wish to not only honor their efforts, but also help promote these values which are so dear
    to me, hoping that one day I will be able to give in return.
  </p>
</article>