--- 
layout: default 
title: A different perspective
---

<h1> A different perspective</h1>
<p>My colleagues also think I should attend the conference. Here is what they say. </p>
<div class="polaroid">
    <img src="/images/CRX_team.jpg" />
    <p>Courtesy of CRX Markets AG (TODO)</p>
</div>
<article>
    <blockquote>
        <p>
            "Miryam sets an example by strongly opposing female underrepresentation in software engineering and contributes for more
            diversity in our company. For Miryam, participation at O'Reilly Software Architecture Conference would be an
            amazing opportunity to level up her hard skills but also to strengthened her confidence and voice in the team."
        </p>
        <cite>
            Dimitri A., Head of Software Development
        </cite>
    </blockquote>
    <hr/>
    <blockquote>
        <p>
            "I think Miryam is self-motivated, committed and very capable person. In my opinion, for her even the sky is not the limit
            and she just needs a chance to prove it."
        </p>
        <cite>
            Nariman A., Software Developer
        </cite>
    </blockquote>
    <hr/>
    <blockquote>
        <p>
            01001101 01101001 01110010 01111001 01100001 01101101 00100000 01110010 01101111 01100011 01101011 01110011 00100001
        </p>
        <cite>
            Daniel B., Sales Manager: So proud of his first “coding” experience…
        </cite>
    </blockquote>
    <hr/>
    <blockquote>
        <p>
            "Miryam is one of the most charming, cultured and well-balanced computer engineers I ever met. Her curiosity and never-ending
            positivity are very refreshing for our daily routines. I wish her all the best in her networking and learning
            endeavors!"
        </p>
        <cite>
            Dorothee H., Marketing Manager
        </cite>
    </blockquote>
    <hr/>
    <blockquote>
        <p>
            "Miryam always beats me at table soccer. I have tremendous respect for her and I can't wait to see her win the Christmas
            tournament this year."
        </p>
        <cite>
            Lutz Limburg, Product Owner
        </cite>
    </blockquote>
    <hr/>
    <blockquote>
        <p>
            “In 20 years as a Fintech entrepreneur with both, 360T and CRX, I have worked with many intelligent and highly inspiring
            people inside and outside my companies… from driven, smart employees to creative, motivating counterparts in
            the world’s largest corporates and financial institutions. Miryam is among the very top of those inspiring people.
            She will make a difference in business and personal life and I am honored that Miryam allows me and the rest
            of the team to work with her.”
        </p>
        <cite> Moritz von der Linden, Founder & Chief Business Officer</cite>
    </blockquote>
    <hr/>
    <blockquote>
        <p>
            "Miryam has been with us for a couple of months now. She turned out to be a great addition to our team, and she will be to
            the O’Reilly Conference in New York."
        </p>
        <cite>
            Frank L., CEO
        </cite>
    </blockquote>
    <hr/>
    <blockquote>
        <p>
            "Miryam is a lovely colleague, and she really wants to attend this conference to learn more about software architecture.
            And if you knew her already, you would know that you would miss her if she did not come! So she simply must attend!"
        </p>
        <cite>
            Veronika N., Assistant to the Executive Board
        </cite>
    </blockquote>
    <hr/>
    <blockquote>
        <p>
            "Being on the edge is important for an enthusiastic software developer. That's why I'd be happy for Miryam if she'd get a
            chance to attend the conference. I'm sure she'll bring back lots of exciting and valuable ideas for the team."
        </p>
        <cite>
            Sergey P., Software developer
        </cite>
    </blockquote>
</article>