--- 
layout: default 
title: Professionals' opinion 
---
<h1> My colleagues also think I should attend the conference,  
        here is what they say
</h1>
<div class="polaroid">
    <img src="/images/CRX_team.jpg" />
    <p>Courtesy of CRX Markets AG (TODO)</p>
</div>
<article>
    <p> "Miryam always talks to me in the kitchen, when all I want is a cup of coffee. If she went to New York for a week, I
        could have some peace." </p>
    <p>John D., Sales department</p>
    <hr/>
    <p> "Miryam always beats me at table soccer. I have tremendous respect for her and I can't wait to see her win the Christmas
        tournament this year. " </p>
    <p>Luke L., Project management</p>
    <hr/>
</article>