--- 
layout: default 
title: Resume 
---
<div>
    <div>
        <h1>Miryam Chaabouni</h1>
        <h2>Software developer</h2>
    </div>
    <!--Header Left-->
    <div>
        <div style="width: 10%">
            <img src="/images/crx_profile_pic.jpg" />
        </div>
        Contact me on <a href="https://www.linkedin.com/in/miryamchaabouni/">LinkedIn</a> 
        or <a href="https://www.xing.com/profile/Miryam_Chaabouni/">Xing</a> 
    </div>
    <!--Header right -->
</div>
<!--Header-->
<hr/>

<div>
    <div>
        <h2>Summary</h2>
    </div>
    <!--left-->
    <div>
        I feel the most comfortable when coding in Java, but I am always open to learn new technologies and frameworks, especially
        around web-development. I care deeply about code design, readability and sustainability. Writing code that <em>just
        works</em> is not enough for me.
    </div>
    <!--right-->

</div>
<!--summary-->
<hr/>


<div>
    <div>
        <h2>Skills </h2>
    </div>
    <!--left-->
    <div>
           Backend: Java/Java EE, SpringBoot, MySQL, Neo4j <br/>
           Frontend: AngularJS, HTML, CSS<br/>
           Testing: JUnit, Selenium, Cucumber <br/>
           Continuous Integration: Git, SVN, TeamCity, Jenkins<br/>
           Tools: Eclipse, Netbeans, Idea, Maven<br/>
           Operating Systems: Windows, Linux<br/>
    </div>
    <!--right-->
</div>
<!--summary-->
<hr/>

<div>
    <div>
        <h2>Experience </h2>
    </div>
    <!--left-->
    <div>
        <div>
            08.2018-present:
            Junior Java Software developer,
             CRX Markets AG, 
             Munich
        </div>
        <div>08.2016-07.2018 : 
            Software developer, 
            ITK Engineering GmbH, 
            Munich
        </div>
        <div>07.2014-12.2014: 
             Intern, 
                ABB Corporate Research Center Germany, 
                Ladenburg (BW)
            </div>

    </div>
    <!--right-->
</div>
<!--summary-->
<hr/>
<div>
    <div>
        <h2>Education </h2>
    </div>
    <!--left-->
    <div>
        <div>2013-2016
            M. Sc. Computational sciences and engineering
            Ecole Polytechnique Fédéerale de Lausanne
            Lausanne, Switzerland
        </div>
            <div>
               2008-2013 
               B.S. Physics
               Ecole Polytechnique Fédéerale de Lausanne
               Lausanne, Switzerland
            </div>
    </div>
    <!--right-->
</div>
<!--summary-->
<hr/>
<div>
    <div>
        <h2>Certifications </h2>
    </div>
    <!--left-->
    <div>
    14.02.2018: Java SE 8 Programmer, Oracle Certified Associate <br/>
    28.09.2018: Goethe-Zertifikat C1, Goethe Institut e.V 
    </div>
    <!--right-->
</div>
<!--summary-->
<hr/>
<div>
    <div>
        <h2>Languages </h2>
    </div>
    <!--left-->
    <div>
         German: Professional working proficiency (C1)<br/>
         English: Full professional proficiency (C2)<br/>
         French/Arabic: Native language
    </div>
    <!--right-->
</div>
<!--summary-->
<hr/>