--- 
layout: default 
title: Resume 
---
<div class="resume">
<div class="grid-container" style="grid-template-columns: auto 30%;">
    <div class="grid-item">
        <h1>Miryam Chaabouni</h1>
        <h2>Software developer</h2>
        <p>Connect with me on
            <a href="https://www.linkedin.com/in/miryamchaabouni/">LinkedIn</a>
            or
            <a href="https://www.xing.com/profile/Miryam_Chaabouni/">Xing</a>
        </p>
    </div>
    <!--Header Left-->
    <div class="grid-item">
        <div>
            <img src="/images/crx_profile_pic.jpg" />
        </div>
    </div>
    <!--Header right -->
</div>
<!--Header-->
<hr/>

<div class="grid-container two-columns">
    <div class="grid-item category">
        <h2>Summary</h2>
    </div>
    <div class="grid-item content">
        <p>
            I started my studies in physics, but fell in love with programming on the way. I am most comfortable in Java, but I am always
            open to learn new technologies and frameworks, especially around web-development. I care deeply about code design,
            readability and sustainability. Writing code that
            <em>just works</em> is not enough for me. I am also an enthusiastic networker, and I regularly attend conferences
            and Meetups on the latest IT trends.
        </p>
    </div>
</div>
<hr/>
<div class="grid-container two-columns">
    <div class="grid-item category">
        <h2>Skills </h2>
    </div>
    <!--left-->
    <div class="grid-item content">
        <div class="grid-container three-columns">
            <div class="grid-item">
                Java/J2EE
            </div>
            <div class="grid-item">
                Neo4j
            </div>
            <div class="grid-item">
                MySQL
            </div>
        </div>
        <div class="grid-container three-columns">
            <div class="grid-item">
                HTML/CSS
            </div>
            <div class="grid-item">
                AngularJS
            </div>
            <div class="grid-item">
                JSF
            </div>
        </div>
        <div class="grid-container three-columns">
            <div class="grid-item">
                JUnit
            </div>
            <div class="grid-item">
                Selenium
            </div>
            <div class="grid-item">
                Cucumber
            </div>
        </div>
        <div class="grid-container three-columns last">
            <div class="grid-item">
                Git
            </div>
            <div class="grid-item">
                Jenkins
            </div>
            <div class="grid-item">
                Maven
            </div>
        </div>
    </div>
</div>
<hr/>
<div class="grid-container two-columns">
    <div class="grid-item category">
        <h2>Experience </h2>
    </div>
    <!--left-->
    <div class="grid-item content">
        <div class="resume-item">
                <h2>08.2018-present</h2>
                <h1>CRX Markets AG, Munich</h1>
            <h3>Junior Java Software developer</h3>
            <p>
            I'm adding new features to our JiraMiner, an internal web tool which polls data from the Jira API,  
                extracts statitics and builds charts, allowing our managers to follow the progress of our development projects. 
            </p>
        </div>
        <hr/>
        <div class="resume-item">
                <h2>08.2016-07.2018 </h2>
                <h1>ITK Engineering GmbH, Munich</h1>
                <h3>Software developer</h3>
                <p>
                  I worked on tailor-made desktop and web applications for customers in 
                  the automotive and aerospace industry, allowing them to visualize 
                  and analyse their testing data. 
                </p>
            </div>
            <hr/>
            <div class="resume-item">
                    <h2>08.2016-07.2018 </h2>
                    <h1>ABB Corporate Research Center Germany, Ladenburg</h1>
                    <h3>Software Intern</h3>
                    <p>
                      I built a Java desktop application which served as a demonstrator for a crane scheduling 
                      algorithm, as well a simulation tuner. Then I developed an algorithm to optimize the cranes' 
                      energy consumption. 
                    </p>
                </div>
    </div>
</div>
<hr/>
<div class="grid-container two-columns">
    <div class="grid-item category">
        <h2>Education </h2>
    </div>
    <!--left-->
    <div class="grid-item content">
        
            <div class="resume-item">
                    <h2>2013-2016 </h2>
                    <h1>Ecole Polytechnique Fédérale de Lausanne, Switzerland</h1>
                    <p>M.Sc. Computational sciences and engineering </p>
                </div>
                <div class="resume-item">
                        <h2>2008-2013</h2>
                        <h1>Ecole Polytechnique Fédérale de Lausanne, Switzerland</h1>
                        <p> B.S. Physics </p>
                    </div>
    </div>
</div>
<hr/>
<div class="grid-container two-columns">

    <div class="grid-item category">
        <h2>Certifications </h2>
    </div>
    <!--left-->
    <div class="grid-item content">
            <div class="resume-item">
                    <h2>14.02.2018</h2>
                    <p> <em>Java SE 8 Programmer</em> - Oracle Certified Associate </p>
                </div>
                <div class="resume-item">
                        <h2>28.09.2018</h2>
                        <p> <em> Goethe-Zertifikat C1</em> - Goethe Institut e.V</p>
                    </div>
    </div>
</div>
<hr/>
<div class="grid-container two-columns">

    <div class="grid-item category">
        <h2>Languages </h2>
    </div>
    <!--left-->
    <div class="grid-item content">
            <div class="grid-container two-columns ">
                    <div class="grid-item">
                            <b>German</b>
                    </div>
                    <div class="grid-item">
                            Professional working proficiency (C1)
                    </div>
                </div>
                <div class="grid-container two-columns ">
                        <div class="grid-item">
                             <b>   English </b>
                        </div>
                        <div class="grid-item">
                                Full professional proficiency (C2)
                        </div>
                    </div>
                    <div class="grid-container two-columns">
                            <div class="grid-item">
                                <b>   French/Arabic</b>
                            </div>
                            <div class="grid-item">
                                    Native language 
                            </div>
                        </div>
    </div>
</div>
<hr/>
</div>