--- 
layout: default 
title: The O'Reilley scholarship
---

<h1>What this scholarship means to me</h1>

<p>Most of my life I considered myself privileged. </p>

<p>Even though I was born in an arabic muslim country, I landed in the most progressive one in terms of women rights. Even growing
  up in a traditional society, my parents trusted me enough to send me abroad alone to get an education. And as I finished my studies, 
  I found myseld in a country with the one of the friendliest immigration policies in the world at the time, and 
  it so happened that they wanted people with my skillset to grow their economy. 
</p>
<p>
  Even being a woman in the software industry today, I feel privileged, because I started my career at a time where gender
  equality at work, and diversity in the STEM fields were already taken seriously.
  Finding your passion early in life, and being able to make a decent living out of it in a safe environment 
  is a privilege that not many people enjoy.
</p>
<p>
  Yet I feel no shame in my privileges, neither do I feel entitled to them. 
  I don't think they were random, but I see them as gifts handed to me by the generations before. 
  Receiving the O'Reilley scholarship to attend the Software Architecture Conference in New York would 
  be yet another gift and a privilege. 
  Again I would do my best to seize this opportunity to learn, to grow and to share.
</p>

<div>
  <p>It's up to you.. New Yoork! Neeeewww Yooooooooorrrkk!! </p>
</div>