---
layout: default
title: Miryam Chaabouni, soon in New York 
---

<h1>What this scholarship means to me</h1>

<div>
         
  <!-- I strongly believe in knowledge sharing, and I am proud to be part of an industry where
    the advancement of the general quality and common standards comes before individual success. 
    I am also proud to be in one of the most progressive industries when it comes to diversity. Yes, the software industry is 
    far from being diverse at the moment, but I find that in comparison to others, I find it to be one of the loudest about 
    this topic and where people are trying their best to take action. 
    To my own surprise, -->
        <p>It's up to you.. New Yoork! Neeeewww Yooooooooorrrkk!! </p>
    </div>

  
